%text-shadow {
    text-shadow: 0 0 30px $color-black, 0 0 15px $color-black, 0 0 1px $color-black;
}

%margin-bottom-lg {
    margin-bottom: $gap*5.333333333; 
}


%heading {
    font-family: $font-header;
    margin-bottom: $gap*3;
}

%image {
    display: block;
    height: auto;
    margin: 0 auto;
    width: 100%;
}

%pseudoclass-after-parent {
    position: relative;
    overflow: hidden;
}

%pseudoclass-before-after {
    position: absolute;
    content: "";
    height: 3px;
    background-color: lighten($color-accent, 15%);
    opacity: 0.7;
}