.movie-info {
  @extend %pseudoclass-after-parent;

  &__embed {
    border-right: 1px solid $color-gray;
    border-radius: 3px 3px 0 0;
  }

  &__well {
    border-radius: 0 0 4px 4px;
    white-space: nowrap;
    &-item {
        font-size: 1.1875rem;
        color: lighten($color-dark, 6.25%);
  
        &:not(:last-of-type) {   
          margin-right: 25px;
        }
      }
    
    &-bage {   
        font-size: 0.96rem;            
      }
  }
}

.movie-description {
  @extend %pseudoclass-after-parent;
}

.movie-comments {
  @extend %pseudoclass-after-parent;

  &__panel{

    &-title {
      font-size: 1.2rem;
    }
    &-username {
      line-height: 1.42857143;
    }
  
  }
}

.movie-comment-new {
  @extend %pseudoclass-after-parent;
  
  &__btn {
    float: right;
  }
}