.header-logo__title, .header-logo__description {
  text-shadow: 0 0 30px #000000, 0 0 15px #000000, 0 0 1px #000000;
}

.header, .main, .left-sidebar {
  margin-bottom: 80.0px;
}

h1, h2 {
  font-family: "PT Serif", serif;
  margin-bottom: 45px;
}

.new-films-item__image,
.top-week-item__image, .movie-news-item__image {
  display: block;
  height: auto;
  margin: 0 auto;
  width: 100%;
}

.new-films,
.top-week, .movie-news, .movie-info, .movie-description, .movie-comments, .movie-comment-new {
  position: relative;
  overflow: hidden;
}

h1:after, h2:before, h2:after {
  position: absolute;
  content: "";
  height: 3px;
  background-color: #f0ad4f;
  opacity: 0.7;
}

.navbar-inverse {
  background-color: #191919;
}

.navbar-inverse .navbar-nav > .active > a {
  background-color: #053159;
}

.navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #517ba2;
}

.navbar-inverse .navbar-nav li > a {
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.navbar-inverse .navbar-nav li > a:hover, .navbar-inverse .navbar-nav li > a:focus {
  background-color: #165690;
}

.navbar {
  margin-bottom: 0;
}

.panel {
  margin-bottom: 30px;
}

.panel-info {
  border: none;
  background-color: #ebebeb;
}

.panel-info > .panel-heading {
  color: #ffffff;
  background-color: #df8a13;
  border: none;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
}

.panel-body {
  border: 1px solid #dddddd;
  border-radius: 0 0 4px 4px;
}

.input-lg,
.input-group-lg > .form-control {
  font-size: 0.875rem;
}

.thumbnail {
  margin-bottom: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
  overflow-y: scroll;
}

body {
  font-size: 1rem;
  font-family: "PT Sans", sans-serif;
  overflow-x: hidden;
}

a {
  color: #165690;
  text-decoration: none;
  display: block;
}

a:hover, a:focus {
  text-decoration: none;
  color: #df8a13;
}

h1 {
  font-size: 3rem;
  margin-top: -7.5px;
}

h1:after {
  width: 100%;
  margin: 40px 0 0 15px;
}

h2 {
  margin: 60px 0 45px 45px;
  font-size: 2.5rem;
}

h2:before {
  left: 0;
  margin: 0.25em 0 0 0;
  width: 30px;
}

h2:after {
  width: 100%;
  margin: 0.85em 0 0 15px;
}

h3 {
  margin-top: 0;
}

p {
  display: block;
  text-align: justify;
  margin: 0 0 10px;
}

.header-logo {
  background-color: #232323;
  background-image: url(../img/header-bg.jpg);
  background-size: cover;
  background-position: 50% 50%;
  text-align: center;
  padding-bottom: 100px;
  padding-top: 100px;
}

.header-logo__title {
  display: block;
  color: #df8a13;
  font-family: "PT Serif", serif;
}

.header-logo__description {
  display: block;
  color: #ffffff;
  font-size: 1.15rem;
  letter-spacing: 0.2em;
}

.site-search {
  margin-bottom: 30px;
}

.user-login {
  margin-bottom: 30px;
}

.new-films-row,
.top-week-row {
  margin-left: -7.5px;
  margin-right: -7.5px;
}

.new-films-item,
.top-week-item {
  padding-left: 7.5px;
  padding-right: 7.5px;
  margin-bottom: 15px;
}

.new-films-item__title,
.top-week-item__title {
  display: block;
  overflow: hidden;
  margin: 0;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.new-films-item__thumbnail,
.top-week-item__thumbnail {
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.new-films-item__thumbnail:hover, .new-films-item__thumbnail:focus,
.top-week-item__thumbnail:hover,
.top-week-item__thumbnail:focus {
  background-color: #df8a13 !important;
  border-color: #df8a13;
}

.new-films-item__thumbnail:hover .new-films-item__title, .new-films-item__thumbnail:focus .new-films-item__title,
.top-week-item__thumbnail:hover .new-films-item__title,
.top-week-item__thumbnail:focus .new-films-item__title {
  color: #ffffff !important;
}

.movie-news-row {
  margin-left: -15px;
  margin-right: -15px;
}

.movie-news-item:not(:last-of-type) {
  margin-bottom: 20px;
}

.movie-news-item:hover .movie-news-item__thumbnail {
  border-color: #f2b866;
  background-color: #f2b866;
}

.movie-news-item:hover .movie-news-item__button {
  background-color: #df8a13;
}

.movie-news-item:hover h3 {
  color: #df8a13;
}

.movie-news-item__thumbnail {
  clear: both;
  -webkit-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  transition: background-color 0.25s;
  float: left;
}

.movie-news-item__button {
  float: right;
  margin-bottom: 30px;
  -webkit-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.movie-info__embed {
  border-right: 1px solid #dddddd;
  border-radius: 3px 3px 0 0;
}

.movie-info__well {
  margin-bottom: 30px;
  border-radius: 0 0 4px 4px;
}

.movie-info__well-item {
  font-size: 1.1875rem;
  color: #333333;
}

.movie-info__well-item:not(:last-of-type) {
  margin-right: 25px;
}

.movie-info__well-bage {
  font-size: 0.96rem;
}

.movie-comments__panel-title {
  font-size: 1.25rem;
}

.movie-comments__panel-glyphicon {
  margin-right: 10px;
}

.movie-comment-new__btn {
  float: right;
}

.left-sidebar .panel:last-of-type {
  margin-bottom: 0;
}

.vertical-slider {
  border-radius: 4px;
  overflow: hidden;
}

.vertical-slider__image {
  width: 100%;
}

.user-login {
  position: relative;
}

.user-login__tabs {
  position: absolute;
  top: 0;
  right: 10px;
  border: none;
}

.user-login a {
  border: none !important;
  color: #dddddd;
  background-color: transparent !important;
  padding: 14px 5px 11px !important;
}

.user-login .active > a {
  color: #ffffff !important;
}

.site-news-item {
  position: relative;
  clear: both;
  min-height: 85px;
}

.site-news-item:not(:last-of-type) {
  margin-bottom: 15px;
}

.site-news-item:not(:last-of-type)::after {
  content: "";
  right: 0;
  bottom: -5px;
  width: calc(100% - 85px);
  height: 1px;
  position: absolute;
  background-color: #dddddd;
}

.site-news-item:not(:first-of-type) {
  margin-top: 15px;
}

.site-news-item:hover a {
  color: #df8a13;
}

.site-news-item:hover .site-news-item__image {
  background-color: #df8a13;
  border-color: #df8a13;
}

.site-news-item__image {
  width: 75px;
  margin: 0 10px 10px 0;
  float: left;
}

.site-news-item__title {
  margin-bottom: 10px;
  display: -webkit-box;
  overflow: hidden;
  height: 50px;
  font-size: 1rem;
  line-height: 1.5rem;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.site-news-item__date {
  text-align: right;
  font-size: 0.8rem;
  color: #909090;
}

.top-films__body {
  padding-left: 0;
  padding-right: 0;
}

.top-films__list {
  margin-bottom: 0;
}

.top-films__item {
  background-color: transparent;
  margin-right: -1px;
  margin-left: -1px;
  color: #165690 !important;
  padding-right: 55px;
}

.top-films__item:hover, .top-films__item:focus {
  color: #ffffff !important;
  background-color: #df8a13 !important;
  border-color: #df8a13;
}

.top-films__item:hover span, .top-films__item:focus span {
  background-color: #232323;
}

.top-films__item:first-of-type {
  border-top: none;
  border-radius: 0;
}

.top-films__item:last-of-type {
  border-bottom: none;
  border-radius: 0;
}

.top-films__badge {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.footer {
  background-color: #232323;
  padding-top: 45px;
  padding-bottom: 20px;
  color: #dddddd;
}

.footer-top-column__title {
  color: #ffffff;
}

.footer-top-column__list {
  list-style: none;
  padding: 0;
}

.footer-top-column__link {
  color: #777777;
  -webkit-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s;
}

.footer-top-column__link:hover, .footer-top-column__link:focus {
  color: #ffffff;
}

.footer-bottom {
  margin-top: 20px;
}

.footer-bottom-column__link {
  text-align: center;
  color: #ffffff;
}

.footer-bottom-column__link:hover, .footer-bottom-column__link:focus {
  color: #ffffff;
}

@media (min-width: 576px) {
  .header-logo__title {
    font-size: 3.5rem;
    letter-spacing: 0.33em;
  }
}

@media (min-width: 768px) {
  .navbar-inverse .navbar-nav li > a {
    border-radius: 4px;
  }
  .navbar-left li {
    margin: 5px 5px 5px 0;
  }
  .navbar-right li {
    margin: 5px 0 5px 5px;
  }
}

@media (max-width: 991.8px) and (min-width: 768px) {
  h1 {
    margin-top: 40px;
  }
}

@media (max-width: 767.8px) {
  .navbar-inverse .navbar-nav li > a {
    text-align: center;
  }
  .navbar-header {
    text-align: center;
  }
  .navbar-toggle {
    float: none;
    margin-right: 0;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .navbar-left {
    margin-bottom: 0;
  }
  .navbar-right {
    margin-top: 0;
  }
  .site-search {
    margin-bottom: 45px;
  }
  .user-login {
    margin-bottom: 60px;
  }
  .movie-news-item__thumbnail {
    float: none;
  }
}

@media (max-width: 575.8px) {
  .header-logo__title {
    font-size: 2.5rem;
    letter-spacing: 0.2em;
    margin-right: -5px;
  }
}
